  <div class="col-md-12">
    <div class="jumbotron">
      <div class="container">
        <h3>Welcome, Find A Restaurant TT</h3>
        <p>Creating page templates two</p>   
        <p><a class="navbar-brand" href="index.html">Back to home</a></p>     
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <form class="form-inline" id="user-form">
            <div class="form-group">
              <label for="exampleInputName2">Email Address</label>
              <input type="text" class="form-control" id="EmailAddress" name="emailaddress" placeholder="Email Address">
            </div>
            <div class="form-group">
              <label for="exampleInputName2">Password</label>
              <input type="text" class="form-control" id="Password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputName2">Image</label>
              <input type="File" class="form-control" id="Image" name="image" placeholder="Image">
            </div>
            <button type="submit" class="btn btn-default">Add User</button>
          </form>
        </div>
      </div>
    </div>
	<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12" id = "content"></div>
      </div>

    <div class="row">
      <div class="col-md-12" id="reviewBody">
        
      </div>      
    </div>

  </div>